<!-- Main content-->
<section class="content2">

    <div class="container-center animated slideInDown">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-unlock"></i>
            </div>
            <div class="header-title">
                <h3>Login</h3>
                <small>
                    Please enter your credentials to login.
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                <form ng-submit="vm.login()" id="loginForm" name="loginForm" novalidate>
                    <div class="form-group">
                        <label class="control-label" for="username">Username</label>
                        <input type="text" id="username" name="username" ng-model='vm.authData.userName' class="form-control"
                               placeholder="Enter Username" required>
                        <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="text-danger">Username can not be empty.</p>
                        <span class="help-block small">Your unique username to app</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input type="password" id="password" name="password" ng-model='vm.authData.password'
                               class="form-control" placeholder="Password" required>
                        <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="text-danger">Password can not be empty.</p>
                        <span class="help-block small">Your strong password</span>
                    </div>
                    <div>
                        <p class='text-danger' ng-show='vm.errorMessage'>{{vm.errorMessage}}</p>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Login" id="login" name="login" >

                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!-- End main content-->
