<div class="modal-content">
    <div class="modal-body">
        <div class="panel panel-filled">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" minlength="4" value="" ng-model="vm.resetPassword.newPassword" id="newPassword" class="form-control" name="">
                        <span class="help-block small">New password</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Close</button>
        <button type="button" class="btn btn-accent" ng-click="vm.ok()">Reset</button>
    </div>
</div>
