<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="pull-right text-right" style="line-height: 14px">
                    </div>
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-user"></i>
                    </div>
                    <div class="header-title">
                        <h3>Edit Static Session</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="panel panel-filled">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Start Time</label>lo
                        <input type="datetime-local" value="" ng-model="vm.session.sessionStartTimeRaw" id="sessionStartTime" class="form-control" name="">
                        <span class="help-block small">Time/Date session starts.</span>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>End Time</label>
                        <input type="datetime-local" value="" ng-model="vm.session.sessionEndTimeRaw" id="sessionEndTime" class="form-control" name="">
                        <span class="help-block small">Time/Date session ends.</span>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Title</label>
                        <input type="text" value="" ng-model="vm.session.Title" id="title" class="form-control" name="">
                        <span class="help-block small">Title of the session</span>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Abstract</label>
                        <input type="" value="" ng-model="vm.session.Abstract" id="abstract" class="form-control" name="">
                        <span class="help-block small">Abstract of the session</span>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Volunteers Required</label>
                        <input type="number" min="0" max="100" value="" ng-model="vm.session.VolunteersRequired" id="volunteersRequired" class="form-control" name="">
                        <span class="help-block small">Number of volunteers required for the session</span>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Room(s)</label>
                        <ui-select multiple ng-model="vm.session.Rooms" theme="bootstrap">
                            <ui-select-match placeholder="Select room...">{{$item.Name}}</ui-select-match>
                            <ui-select-choices repeat="room in vm.rooms | filter:$select.search">
                                {{room.Name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Close</button>
        <button type="button" class="btn btn-accent" ng-click="vm.ok()">Save changes</button>
    </div>
</div>
