<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="pull-right text-right" style="line-height: 14px">
            </div>
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-date"></i>
            </div>
            <div class="header-title">
                <h3>Schedule Admin</h3>
                <small>
                    Administer the schedule
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-filled">
            <div class="panel-heading">
                <div panel-tools></div>
                Schedule Admin Tools
            </div>
            <div class="panel-body">
                <button class="btn btn-accent" ng-click="vm.importFeed()">Import Feed</button>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-filled">
            <div class="panel-heading">
                <div panel-tools></div>
                Schedule Admin
            </div>
            <div class="panel-body">
                <button class="btn btn-accent"
                        ng-class="{active: vm.currentDate === cDate}"
                        ng-repeat="cDate in vm.dates"
                        ng-click="vm.currentDate = cDate">
                    {{cDate}}
                </button>

                <div ng-repeat="cDate in vm.dates" ng-if="vm.currentDate === cDate" style="position: relative">
                    <h1>{{cDate}}</h1>
                    <div ng-repeat="room in vm.rooms">

                        <div class="scheduleAdminRoom">
                            <div class="sessionRoom">{{room}}</div>
                            <div style="height: 800px; background-color: gray">
                                <div class="scheduleAdminSession" ng-repeat="session in vm.sessionsByDateAndRoom(cDate, room)" ng-class="vm.getCardState(session)"
                                     style="top:{{vm.getTop(session)}}; height:{{vm.getHeight(session)}}">
                                    <div class="sessionTitle">{{session.title}}</div>
                                    <div>{{session.sessionStartTime | date:'h:mm a'}}</div>
                                    <div>{{session.sessionEndTime | date:'h:mm a'}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
