<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="pull-right text-right" style="line-height: 14px">
                    </div>
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-user"></i>
                    </div>
                    <div class="header-title">
                        <h3>Assign users to Session</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="panel panel-filled">
            <div class="panel-body">
                <div class="row">
                    <button class="btn btn-accent" ng-click="vm.addAllUsers()">Add All Users</button>
                    <button class="btn btn-accent" ng-click="vm.removeAllUsers()">Remove All Users</button>
                </div>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                <div class="row">
                    <div>{{vm.session.Title}} {{vm.session.Id}}</div>
                    <div>Start: {{vm.session.SessionStartTime | date:'h:mm a'}}</div>
                    <div>End: {{vm.session.SessionEndTime | date:'h:mm a'}}</div>
                    <div>Volunteers Needed: {{vm.session.VolunteersRequired}}</div>

                    <ui-select multiple ng-model="vm.session.Assignees" theme="bootstrap"
                               on-select="vm.addUserToSession($item)"
                               on-remove="vm.removeUserFromSession($item)">
                        <ui-select-match placeholder="Select user...">{{$item.LastName}}, {{$item.FirstName}}</ui-select-match>
                        <ui-select-choices repeat="user in vm.users | filter:$select.search">
                            {{user.LastName}}, {{user.FirstName}}
                        </ui-select-choices>
                    </ui-select>

                </div>
            </div>
        </div>
        <h5>Added {{vm.usersLoaded.length}} of {{vm.users.length}}</h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Close</button>
    </div>
</div>
