<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="pull-right text-right" style="line-height: 14px">
            </div>
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-map"></i>
            </div>
            <div class="header-title">
                <h3>Dashboard</h3>
                <small>
                    Check the scheduled sessions.
                    <div>Last Updated: {{vm.lastUpdateTime}}</div>
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-filled" ng-repeat="(dates, sessions) in vm.sessions">
            <div class="panel-heading">
                <div panel-tools></div>
                {{dates}}
            </div>
            <div class="panel-body">
                <div ng-repeat="session in sessions">

                    <div class="checkInStatus {{vm.checkedInClass(session)}}" ng-if="vm.isCheckedIn(session)">
                        <div class="checkInStatusHeader">{{session.roomString}}</div>
                        <div class="checkInStatusText">CheckIn: {{session.proctorCheckIns[0].checkInTime | date:'h:mm a'}}</div>
                        <div class="checkInStatusText proctors" ng-repeat="proctor in session.assignees" ng-bind-html="vm.getProctorStatus(session, proctor)"></div>

                        <div ng-if="session.sessionType !== 'Static Session'">
                            <div class="checkInStatusText">Start:{{session.sessionStartTime | date:'h:mm a'}}</div>
                            <div class="checkInStatusText">End:{{session.sessionEndTime | date:'h:mm a'}}</div>

                            <div class="checkInStatusAttendance">
                                <div class="checkInStatusAttendanceHeader">10 Min</div>
                                <div class="checkInStatusAttendanceText">{{session.attendees10}}</div>
                            </div>

                            <div class="checkInStatusAttendance">
                                <div class="checkInStatusAttendanceHeader">10 Min Till</div>
                                <div class="checkInStatusAttendanceText">{{session.attendees50}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="checkInStatus" ng-if="!vm.isCheckedIn(session)">
                        <div class="checkInStatusHeader">{{session.roomString}}</div>

                        <div class="checkInStatusText" style="padding-top: 10px;">
                            {{session.title}}
                        </div>
                        <div class="checkInStatusAttendanceText">
                            {{session.sessionStartTime | date:'h:mm a'}}
                        </div>
                        <div class="checkInStatusText proctors" ng-repeat="proctor in session.assignees" ng-bind-html="vm.getProctorStatus(session, proctor)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

