<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="pull-right text-right" style="line-height: 14px">
            </div>
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-map"></i>
            </div>
            <div class="header-title">
                <h3>Dashboard</h3>
                <small>
                    Check the scheduled sessions.
                    <div>Last Updated: {{vm.lastUpdateTime}}</div>
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel" ng-repeat="(dates, sessions) in vm.sessions">
            <div class="panel-body">
                <h3>{{dates}}</h3>
                <hr>
                <div class="row">

                    <div class="col-md-{{vm.getColumnSize(session)}}" ng-repeat="session in sessions"
                        >
                        <div class="panel panel-filled {{vm.checkedInClass(session)}}" >

                            <div class="panel-body">
                                <h4 style="padding-bottom: 10px;height:60px;">{{session.title}}</h4>

                                <div ng-repeat="proctor in session.assignees" ng-click="vm.impersonateCheckIn(session, proctor)"
                                style="float: left; text-align: center; width:75px; height: 105px;" class="text-center">
                                    <i class="fa fa-user-circle {{vm.getProctorStatus(session, proctor)}} text- fa-3x" aria-hidden="true"></i>
                                    <h6>{{proctor.firstName}}</h6>
                                    <h6>{{proctor.lastName}}</h6>
                                </div>
                                <div style="float: left; padding-left: 20px;" ng-if="vm.isCheckedIn(session) && session.sessionType !== 'Static Session'">
                                    <h6 style="margin-top: 0; margin-bottom: 5px;">Check In: {{session.proctorCheckIns[0].checkInTime | date:'h:mm a'}}</h6>
                                    <h6 style="margin-top: 0; margin-bottom: 5px;">Start: {{session.actualSessionStartTime | date:'h:mm a'}}</h6>
                                    <h6 style="margin-top: 0; margin-bottom: 5px;">End: {{session.actualSessionEndTime | date:'h:mm a'}}</h6>
                                    <h6 style="margin-top: 0; margin-bottom: 5px;">10 Minutes In: {{session.attendees10}}</h6>
                                    <h6 style="margin-top: 0; margin-bottom: 5px;">10 Minutes Till: {{session.attendees50}}</h6>
                                </div>

                                <div style="clear: both">
                                    &nbsp;{{session.notes}}
                                </div>

                            </div>
                            <div class="panel-footer">
                                <div class="pull-right text-right">
                                    {{session.roomString}}
                                </div>
                                <div>{{session.sessionStartTime | date:'h:mm a'}} - {{session.sessionEndTime | date:'h:mm a'}}</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

