<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="pull-right text-right" style="line-height: 14px">
            </div>
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-help1"></i>
            </div>
            <div class="header-title">
                <h3>FAQ</h3>
                <small>
                    Frequently Asked Questions
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <search-box filter="vm.filter" watermark-text="'Search...'"></search-box>
    </div>
</div>

<div class="row" ng-repeat="faq in vm.faqs | filter:vm.filter | orderBy:'Ordinal'">
    <div class="col-xs-12">
        <div class="panel panel-filled">
            <div class="panel-heading">
                <div panel-tools></div>
                {{faq.Question}}
            </div>
            <div class="panel-body">
                <div>
                    {{faq.Answer}}
                </div>
            </div>
        </div>
    </div>
</div>

