<!-- Navigation-->
<aside class="navigation">
    <nav ng-controller="NavigationController as vm">
        <ul class="nav luna-nav">
            <li class="nav-category">
                Main
            </li>
            <li ng-repeat="r in vm.navRoutes"
                ng-class="{active: $state.includes(r.name)}">

                <a ui-sref="{{r.name}}" ng-bind-html="r.settings.content" ng-if="!r.abstract"
                   ng-click="vm.menuSelect(r, vm.navSelected)"></a>

                <a ng-click="vm.menuSelect(r, vm.navSelected)" ng-if="r.abstract">
                    {{r.settings.content}}
                    <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                </a>
                <ul class="nav nav-second" uib-collapse="vm.isSelected(r.name, vm.navSelected)" ng-if="r.abstract">
                    <li ng-repeat="subnav in r.subnav" ui-sref-active="active">
                        <a ui-sref="{{subnav.name}}" ng-bind-html="subnav.settings.content" ng-click="vm.menuSelect(subnav, vm.navSelected)"></a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a ui-sref="login">
                    <span ng-if="!vm.loggedIn">Log in</span>

                    <div ng-if="vm.loggedIn" class="" ng-click="vm.logout()">
                        Logout
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</aside>
<!-- End navigation-->

