<div ng-controller="ShellController as vm">
    <div class="wrapper">

        <!-- Header -->
        <ht-widget-header></ht-widget-header>

        <!-- Navigation -->
        <nav-sidebar></nav-sidebar>


        <section class="content">
            <div class="container-fluid">
                <div ui-view></div>
            </div>
        </section>
    </div>
</div>
<!--<div ng-controller="ShellController as vm">-->
    <!--<header class="clearfix">-->
        <!--<nav-header navline="vm.navline"></nav-header>-->
    <!--</header>-->
    <!--<section id="content" class="content">-->
        <!--<nav-sidebar></nav-sidebar>-->
        <!--<div ui-view class="shuffle-animation"></div>-->
        <!--<div ngplus-overlay-->
             <!--ngplus-overlay-delay-in="50"-->
             <!--ngplus-overlay-delay-out="700"-->
             <!--ngplus-overlay-animation="dissolve-animation">-->
            <!--<img src="app/images/busy.gif"/>-->
            <!--<div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>-->
        <!--</div>-->
    <!--</section>-->
<!--</div>-->
