<div class="modal-content">
    <div class="modal-body">
        <div class="panel panel-filled">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <label>Old Password</label>
                        <input type="password" minlength="4" value="" ng-model="vm.resetPassword.oldPassword" id="oldPassword" class="form-control" name="">
                        <span class="help-block small">Current password</span>
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" minlength="4" value="" ng-model="vm.resetPassword.newPassword" id="newPassword" class="form-control" name="">
                        <span class="help-block small">New password</span>
                    </div>
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input type="password" minlength="4" value="" ng-model="vm.resetPassword.newPasswordConfirm" id="newPasswordConfirm" class="form-control" name="">
                        <span class="help-block small">Confirm New password</span>
                    </div>
                    <div class="error" ng-if="vm.resetPassword.newPassword !== vm.resetPassword.newPasswordConfirm && vm.resetPassword.newPassword.length >=4 && vm.resetPassword.newPasswordConfirm >= 4">
                        New passwords do not match.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Close</button>
        <button type="button" class="btn btn-accent" ng-click="vm.ok()">Reset</button>
    </div>
</div>
