        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="pull-right text-right" style="line-height: 14px">
                    </div>
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-help1"></i>
                    </div>
                    <div class="header-title">
                        <h3>Responsibilities</h3>
                        <small>
                            Show user data in special designed profile page
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>


        <div class="row">

            <div class="col-md-4">

                <div class="panel-group">
                    <ul class="list-unstyled" ng-init="active = 1">
                        <li class="panel panel-filled support-question" ng-class="{active: active == 1}">
                            <a href ng-click="active = 1">
                                <div class="panel-body">
                                    <div class="font-bold c-white">Registration</div>
                                </div>
                            </a>
                        </li>
                        <li class="panel panel-filled support-question" ng-class="{active: active == 2}">
                            <a href ng-click="active = 2">
                                <div class="panel-body">
                                    <div class="font-bold c-white">Session Proctor</div>
                                </div>
                            </a>
                        </li>
                        <li class="panel panel-filled support-question" ng-class="{active: active == 3}">
                            <a href ng-click="active = 3">
                                <div class="panel-body">
                                    <div class="font-bold c-white">Sponsor Booth</div>
                                </div>
                            </a>
                        </li>
                        <li ng-if="false" class="panel panel-filled support-question" ng-class="{active: active == 4}">
                            <a href ng-click="active = 4" >
                                <div class="panel-body">
                                    <div class="font-bold c-white">Coat Check</div>
                                </div>
                            </a>
                        </li>
                        <li class="panel panel-filled support-question" ng-class="{active: active == 5}">
                            <a href ng-click="active = 5" >
                                <div class="panel-body">
                                    <div class="font-bold c-white">KidzMash</div>
                                </div>
                            </a>
                        </li>

                    </ul>

                </div>

            </div>
            <div class="col-md-8">

                <div class="panel">
                    <div class="panel-body">
                        <div id="answer1" ng-show="active == 1">
                            <h3>
                                Registration
                            </h3>
                            At the Registration booth, you will be checking attendees in and answering questions and many other odd jobs.
                            <br />
                            <br />
                            <div class="scheduleSession">
                                <div class="scheduleTime">Committee Chairs:</div>
                                <div class="scheduleTitle">Rick Ridgley</div>
                            </div>

                        </div>

                        <div id="answer2" ng-show="active == 2">
                            <h3>
                                Session Proctor
                            </h3>
                            <div class="responsibilitiesSubHeader">Session Proctoring Checklist</div>
                            For session proctoring, please show up for the session 10 minutes ahead of time so you can go through the "Before the session checklist.<br />
                            You can pick up your time remaining cards at the registration booth.<br />
                            For an room or A/V issues or adapters please call the Kalahari staff at 3-HELP.

                            <div>Before the session</div>
                            <ul>
                                <li>Thank the speaker for speaking at CodeMash</li>
                                <li>Verify the speaker can connect to the projectors.</li>
                                <li>Verify microphone works and can be heard in all parts of the room.</li>
                                <li>Ask the speaker if they would like any water</li>
                                <li>Ask the speaker if they need anything else.</li>
                                <li>Let the speaker know that you will be here the entire session and where you’re sitting</li>
                                <li>Let the speaker know that you will be holding up the time cards.</li>
                            </ul>

                            <div  class="responsibilitiesSubHeader">During the Session</div>
                            <ul>
                                <li>Resolve any issues that may arise during the talk</li>
                                <li>Hold up the 20,10,5,0 time left cards at the appropriate times.</li>
                                <li>If the session is overcrowded, please call the registration booth so we can get more chairs or move the session to a bigger room.</li>
                                <li>Take start and end times and room counts.</li>
                            </ul>

                            <div  class="responsibilitiesSubHeader">After the session</div>
                            <ul>
                                <li>Thank the speaker again.</li>
                                <li>Make sure the microphone(s) are left in the room</li>
                                <li>Make sure any other adapters are left with you and return to registration desk.</li>
                            </ul>
                            <br />
                            <br />
                            <div class="scheduleSession">
                                <div class="scheduleTime">Committee Chairs:</div>
                                <div class="scheduleTitle">Chris Judd</div>
                                <div class="scheduleTitle">Alyssa Diaz</div>
                            </div>

                        </div>
                        <div id="answer3" ng-show="active == 3">
                            <h3>
                                Sponsor Booth
                            </h3>
                            <div  class="responsibilitiesSubHeader">Sponsor Arrival and Setup- Weds afternoon until about 8pm, and Thursday morning:</div>
                            <div  class="responsibilitiesSubHeader">General</div>
                            <ol>
                                <li>Helping with all the "I need X" type requests. Usually the X is something like an extra power strip, chair, question about wall hanging, etc. In most cases, they will be telling the sponsor to check with the Kalahari and help get the right contact.</li>
                                <li>Helping with all the "where are things at?"  You'll help point out directions and locations to things. This is for both attendees and sponsors.</li>
                                <li>Keeping a TODO list with contact info for any special requests while Jason and I aren't there.</li>
                                <li>Dropping off sponsor sessions signs to booths</li>

                            </ol>

                            <div  class="responsibilitiesSubHeader">Scanning Related</div>
                            <ol>
                                <li>Sponsors will need to get their emails assigned so they can do scanning. The app is locked down a bit more this year, so I anticipate a lot of walk ups. The volunteer is responsible for pointing the sponsor to a google form where the sponsor can type in their email and sponsor company. After that, when I get back to the booth I will add them (and confirm they can scan).</li>
                                <li>Help with the kiosk app (at the sponsor booth) so people can register their badge.</li>
                                <li>We created a video this year to tell the sponsors how to do the scanning, so the volunteer will provide this information for people having issues/questions and general tech tips. Many sponsors don't really have much of a clue when it comes to technology.</li>
                            </ol>

                            <div class="responsibilitiesSubHeader">Raffle Prizes (Friday)</div>
                            <ol>
                                <li>Managing the lunch raffle signup sheet (which should be easy this year- we're only doing it for Friday lunch).</li>
                                <li>Giving info to sponsors on how the final prize raffle (email required info and a picture to cmraffle@gmail.com)</li>
                                <li>Collecting raffle prizes at the sponsor booth. Later, helping organize them and load them up on the cart. Some prizes will go to KidzMash, others will be for CodeMash</li>
                                <li>Helping schlepp the cart around to transfer prizes</li>
                            </ol>
                            <div class="scheduleSession">
                                <div class="scheduleTime">Committee Chairs:</div>
                                <div class="scheduleTitle">Christopher Sauer</div>
                                <div class="scheduleTitle">Jason Follas</div>
                            </div>

                        </div>
                        <div id="answer4" ng-show="active == 4">
                            <h3>
                                Coat Check
                            </h3>
                            Coat check with consist of taking the attendees coat, hanging it up and giving them a ticket to retrieve their coat at a later time.
                            <div class="responsibilitiesSubHeader">Coat Check In</div>
                            <ol>
                                <li>Take coat from attendee</li>
                                <li>Hang up coat</li>
                                <li>Give ticket</li>
                            </ol>

                            <div class="responsibilitiesSubHeader">Coat Check Out</div>
                            <ol>
                                <li>Get ticket</li>
                                <li>Find coat</li>
                                <li>Give Attendee their coat</li>
                            </ol>
                            <div class="scheduleSession">
                                <div class="scheduleTime">Committee Chair:</div>
                                <div class="scheduleTitle">Mike Woelmer</div>
                                <div class="scheduleTitle">Matt Behrens</div>
                            </div>

                        </div>
                        <div id="answer5" ng-show="active == 5">
                            <h3>
                                KidzMash
                            </h3>

                            <strong>Note: Find a KidzMash staff member and let them know that you have arrived.</strong><br/>

                            <h5>KidzMash Registration</h5>
                            At the KidzMash Registration booth, you will be checking KidzMash attendees in, giving out swag, and answering questions and many other odd jobs.

                            <div style="display: none">
                                <h5>Hangoutz</h5>
                                Watching the room, helping keep organized and cleaned up. I’m certain this person will be pulled to help where needed. Outside the time checking tickets for Divez.<br/>
                            </div>

                            <h5>Divez</h5>
                            <ul>
                                <li>9:00 pm – 11:30 pm will be checking tickets for the divez session then helping the KM staff in that room.</li>
                                <li>1:30 pm – 3:30 pm second divez session of the day.</li>
                            </ul>

                            <div style="display: none">
                                <h5>Open Spacez</h5>
                                Helping with speaker needs, keeping track of attendance<br/>
                                Starting at 3 on 1/11/2019 gather / pack up anything in Open Spacez.<br/>
                            </div>

                            <h5>Makerz</h5>
                            The room is open for attendees 9 am – noon and 2 pm – 5pm.<br/>
                            Hand out kits. Some will have sign out sheets and some will be hand out.<br/>
                            Keep the room organized and cleaned up.<br/>
                            Some projects will need table resources refreshed.<br/>
                            At end of day reset for next morning.<br/>

                            <h5>KidzMash Closing Ceremony</h5>
                            4:00 KidzMash close.<br/>
                            After the 45 minute magic show we need to get the magicians gear off as quickly as possible and get<br/>
                            him relocated to Sessionz (Acacia) while we get the group photo.<br/>
                            Once there he will do a 30 minute meet and greet. Once he is done we need to shoo folks and get the doors closed.<br/>

                            <br />
                            <div class="scheduleSession">
                                <div class="scheduleTime">Committee Chair:</div>
                                <div class="scheduleTitle">Nathan Loding</div>
                                <div class="scheduleTitle">Gabrielle Sempf</div>

                            </div>
                        </div>
                        <div id="answer6" ng-show="active == 6">
                            <h3>
                                Table Tents
                            </h3>
                            A couple of our sponsors are doing table tents.  The table tents can be found in the registration area. Thursday
                            the tents are set up for lunch and dinner.  The tents should be placed before lunch/dinner starts.  If there
                            are more tents than tables, please put 2 on each table.
                            <br />
                        </div>
                    </div>

                </div>

            </div>
        </div>
