.responsibilitiesHeader{

    background-color: #F6A821;
    margin: 20px -3% 15px -3%;
    padding: 3px 3%;
    color: #FFFFFF;
}

.responsibilitiesSubHeader{
    font-size: smaller;
    color:#AAAAAA;
}

.responsibilitiesContainer{
    font-size: smaller;
}
