<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="pull-right text-right" style="line-height: 14px">
            </div>
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-map"></i>
            </div>
            <div class="header-title">
                <h3>Map</h3>
                <small>
                    Where am I?
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-filled">
            <div class="panel-heading">
                <div panel-tools></div>
                Map
            </div>
            <div class="panel-body">
                <img width="100%" src="../images/KalahariMap.png">
            </div>
        </div>

    </div>
</div>
