<div class="container">
    <h3>2022 CodeMash Volunteer Application</h3>
    <p>This year we will be selecting about 40-50 volunteers. It will be an open application process.</p>

    <strong>What are we looking for?</strong>
    <ul>
        <li>Over 18.0 years of age at the time of CodeMash</li>
        <li>College students in a STEM program or early in your IT career</li>
        <li>Passion for technology and community</li>
        <li>Provide your own transportation to/from the conference</li>
        <li>Available to be at CodeMash the whole week. Starting Monday afternoon, on January 10th, 2022 through Friday
            evening, on January 14th, 2022.
        </li>
    </ul>

    <strong>
        What will you be doing as a volunteer? It will differ from person to person, but each volunteer will be
        expected to work about 75% of their time at CodeMash. There will be a lot of different tasks. Some of those
        include:
    </strong>
    <ul>
        <li>Session Proctoring – As a volunteer, you are expected to stay in the session rooms during complete session
            making sure the speaker has everything they need and there are not any problems. This includes session
            timing, any AV technical issues, and helping the speaker be super awesome.>
        </li>
        <li>Lunch Proctoring – As a volunteer, you are expected to help out with the lunch time rush, directing
            attendees to open buffet’s and directing traffic.
        </li>
        <li>Registration Desk – As a volunteer, you are expected to help out at the registration desk, helping the
            attendees register and handing out swag along with other misc. tasks.
        </li>
        <li>KidzMash program support – We get over 750 kids at CodeMash. Some volunteers will be helping with the kids
            programming.
        </li>
        <li>Assembling Speaker Bags</li>
        <li>Random tasks with little perceived value</li>
        <li>Yak Shaving</li>
    </ul>

    <strong>What can you expect for benefits?</strong>
    <ul>
        <li>Career Panel discussion</li>
        <li>An amazing opportunity to network with technology professionals, and world renowned speakers. This is a
            great way to start your career.
        </li>
        <li>A paid shared hotel room with at least one another volunteer at the Kalahari from Monday through
            Saturday.
        </li>
        <li>A four day pass to CodeMash, including all meals.</li>
        <li>All attendee benefits as well as staff benefits. This includes the famous, and usually really needed,
            CodeMash Hoodie(tm).
        </li>
    </ul>

    The application form will be open until all of the 40-ish spots are filled. We will announce the first round of
    volunteers on 10/18/2021, with further selections every few weeks until CodeMash kicks off.
</div>
<div class="text-center">
    <button class="btn btn-accent" ng-click="vm.apply()">Apply Now!</button>
</div>


