<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="pull-right text-right" style="line-height: 14px">
            </div>
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-graph2"></i>
            </div>
            <div class="header-title">
                <h3>Check in</h3>
                <small>
                    Check into your scheduled session.
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-filled">
            <div class="panel-heading">
                <div panel-tools></div>
                Check In
            </div>
            <div class="panel-body">
                <div class="sessionStatusContainer">
                    <div ng-click="vm.checkIn()" id="checkInBtn" class="checkInBtn" style="background-color: {{vm.checkInStatusColor()}}">Check<br/>In</div>
                    <div class="statusTextTitle">Status</div>
                    <div class="statusText">{{vm.proctorCheckInTime()}}</div>
                </div>
                <div ng-if="vm.session.sessionType !== 'Static Session'">

                <div class="sessionStatusContainer">
                    <div ng-click="vm.startSession()" id="startTime" class="checkInBtn" style="background-color: {{vm.startTimeStatusColor()}}">Session<br/>Start</div>
                    <div class="statusTextTitle">Start Time</div>
                    <div class="statusText">{{vm.formatDate(vm.session.actualSessionStartTime)}}</div>
                </div>

                <div class="sessionStatusContainer">
                    <div ng-click="vm.endSession()" id="endTime" class="checkInBtn" style="background-color: {{vm.endTimeStatusColor()}}">Session<br/>End</div>
                    <div class="statusTextTitle">End Time</div>
                    <div class="statusText">{{vm.formatDate(vm.session.actualSessionEndTime)}}</div>
                </div>

                <div style="clear: both">

                    <div class="sessionStatusContainer">
                        <div id="attendees10" class="attendanceBubble" ng-click="vm.pickAttendance('10In')">{{vm.session.attendees10}}</div>
                        <div class="statusTextTitle">10 Minute</div>
                    </div>

                    <div class="sessionStatusContainer">
                        <div id="attendees50" class="attendanceBubble" ng-click="vm.pickAttendance('10Till')">{{vm.session.attendees50}}</div>
                        <div class="statusTextTitle">10 Till End</div>
                    </div>

                </div>
                <div style="clear: both; padding-top: 10px">
                    <div>Notes:</div>
                    <textarea id="notes" rows="4" ng-model="vm.session.notes" ng-blur="vm.saveCheckInInfo()"
                              style="border-radius: 10px; width: 100%; color: #000"></textarea>
                </div>

                </div>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-heading">
                <div panel-tools></div>
                Session Info
            </div>
            <div class="panel-body">
                <div class="sessionInfo">

                    <div class="schedule-session-title">{{vm.session.title}}</div>
                    <div ng-if="vm.session.sessionType !== 'Static Session'">

                    <div class="schedule-session-heading">Speaker(s):</div>

                    <div class="schedule-session-speakers-container">
                        <div class="schedule-session-speaker-container" ng-repeat="speaker in vm.session.speakers">
                            <div class="schedule-session-speaker">
                                <img class="schedule-session-speaker-pic" src="{{speaker.gravatarUrl}}" />
                                <div class="schedule-speaker-room">{{speaker.firstName}} {{speaker.lastName}}</div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div style="clear: both"></div>

                    <div class="schedule-session-heading">Time:</div>
                    <div class="schedule-speaker-room">{{vm.session.sessionStartTime | date:"h:mm a"}} - {{vm.session.sessionEndTime | date:"h:mm a"}}</div>
                    <div class="schedule-session-heading">Room:</div>
                    <div class="schedule-speaker-room" ng-repeat="room in vm.session.rooms">{{room.name}}</div>
                    <div class="schedule-session-heading">Description:</div>
                    <div class="schedule-session-description">{{vm.session.abstract}}</div>
                </div>
            </div>
        </div>

    </div>
</div>
